@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: "Noto Sans Japanese", sans-serif;
  padding-top:30px;
  background-image: url(/assets/image/background-image.png);
}
